aiba\ghost\master\profile\*
aiba/ghost/master/yaya_variable.cfg
aiba/ghost/master/var/*

aurora/ghost/master/profile/*
aurora/ghost/master/yaya_variable.cfg
aurora/ghost/master/var/*

aurora/shell/master/profile/*
aiba/shell/master/profile/*

aurora/auroraballoon_yy/*
aurora/auroraballoon/*
aurora/developer_options.txt
aurora/shell/master/*.clip

